@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root {
	font-family: 'Teachers', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#e8f36b 30vh, #f4f4f4 0);
}
